page-bdp-user-info {
    .avatar {
        max-height: 16vh;
        max-width: 16vh;
        overflow: hidden;
        border-radius: 50%;
    }
    .detail {
        .right-col {
            max-width: 50vw;
        }
    }
}