page-bdp-team-edit-fake {
    .avatar {
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        border: 1px solid lightgray;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .invalid {
        border: 1px solid #ea6153;
    }
    .noti {
        color: #ea6153;
    }
}