page-bdp-team-detail {
    .header-icon {
        height: 100%;
        width: 50px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        font-size: 1.4em;
        ion-icon {
            margin: auto;
        }
    }
    .add-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        border: 2px solid black;
        z-index: 10;
    }
    .member-list {
        overflow: auto;
        ion-item {
            padding: 0;
            .item-inner {
                padding: 0 !important;
            }
        }
        .avatar {
            width: 2em;
            height: 2em;
            min-width: 2em;
            min-height: 2em;
            border-radius: 50%;
            overflow: hidden;
        }
        .name {
            overflow: hidden;
            padding-right: 30px;
            text-overflow: ellipsis;
        }
        .arr {
            width: 30px;
            color: #ea6153;
            font-size: 1.4em;
        }
    }
}