<ion-header>

  <ion-navbar>
    <ion-title>Quản lý chi tiêu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <div class="a1-padding main-background">
      <span class="big-font main-color">Tổng quỹ:
        <span class="danger-color">{{tongQuy}}vnđ</span>
      </span>
    </div>
    <div>
      <div>
        <div class="a1-padding-left a1-padding-top normal-font main-color" (tap)="addSponsorMonney()">
          <span class="span-title">Nhà tài trợ</span>
        </div>
        <div class="a1-padding-left">
          <div *ngFor="let item of sponsor">
            <span class="small-font">
              <span class="main-color">{{item.name}}</span> đã tài trợ
              <span class="danger-color">{{item.monney}}vnđ</span>
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="a1-padding-left a1-padding-top normal-font main-color" (tap)="addPersonerMonney()">
          <span class="span-title">Cá nhân</span>
        </div>
        <div class="a1-padding-left">
          <div *ngFor="let item of personer">
            <span class="small-font">
              <span class="main-color">{{item.name}}</span> đã nộp
              <span class="danger-color">{{item.monney}}vnđ</span> vào quỹ</span>
          </div>
        </div>
      </div>
      <div>
        <div class="a1-padding-left a1-padding-top normal-font main-color" (tap)="addMoreMonney()">
          <span class="span-title">Khác</span>
        </div>
        <div class="a1-padding-left">
          <div *ngFor="let item of monneyGiveBack">
            <span class="small-font">
              <span class="main-color">{{item.name}}</span> đã nộp
              <span class="danger-color">{{item.monney}}vnđ</span> vào quỹ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="a1-padding main-background">
      <span class="big-font main-background main-color">Lịch Thi Đấu</span>
    </div>
    <ion-list class="a1-no-margin">
      <ion-item-sliding *ngFor="let item of downPayment, let i = index">
        <ion-item (tap)="showDownPayment(item)">
          <span class="normal-font">
            <span class="main-color">{{item.nameOfStadium}}</span>
            <span class="danger-color float-right">{{item.timeBegin}}</span>
          </span>
        </ion-item>
        <ion-item-options>
          <button ion-button color="primary" (tap)="doPaymentItem(item,i)">Pay</button>
          <button ion-button color="danger" (tap)="deletePaymentItem(item,i)">Cancel</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div class="a1-text-center a1-no-padding a1-no-margin">
      <button ion-button (tap)="addDownPayment()">Đặt sân</button>
    </div>
  </div>
  <div>
    <div class="a1-padding main-background">
      <span class="big-font main-color">Lịch sử</span>
    </div>
    <div class="a1-padding-left">
      <div *ngFor="let item of itemHistoryTest">
        <span class="small-font">
          <span class="main-color">{{item.type}}</span>
          <span class="danger-color">{{item.monney}}vnđ</span> từ
          <span class="main-color">{{item.name}}</span>
        </span>
      </div>
    </div>
  </div>
</ion-content>